@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$main_font: 'Inter', sans-serif;
$content_width: 1440px;
$green: #009B3E;
$white: #FFFFFF;
$text_black: #1F1F1F;
$black: #000000;
$transparent_green: #009B3E1A;
